.cart{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.footer{
  flex: 0 0 auto;
  height: 60px;
}

.item{
  overflow:auto;
}

.item:nth-child(2n){
  background-color: #dedede;
}

.itemImage{
  width: 80px;
  width: 80px;
}

.itemName{
  font-size: small;
}