body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  color: #555;
  -webkit-tap-highlight-color: transparent;
  background-color: #efefef;
}

html {
  font-size: 16px;
}

input {
  border: 0;
}
