.product{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content{
  flex: 1 1 auto;
  overflow-y: auto;
}

.footer{
  flex: 0 0 3rem;
  display: flex;
  align-content: center;
  align-items: stretch;
}

.description{
  color: #444;
  padding: 0 0.3rem;
}

.info{
  flex: 1 1 auto;
  padding-top: 1rem;
  padding-left: 1rem;
}

.submit{
  flex: 0 0 8rem;
  background-color: #ff4311;
  color: #fff;
  text-align: center;
  align-self: stretch;
  padding-top: 1rem;
}